@model IEnumerable<Domain.Models.TextFile>

@{
    ViewData["Title"] = "ListFiles";
}
<h1>List Of Files</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastEditedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated == true){
                        
                    @Html.ActionLink("Edit |", "editfile", new {  id=item.FileName });
                    @Html.ActionLink("Share |", "ShareFile", new { id=item.FileName });
                    @Html.ActionLink("Delete ", "Delete", new { /* id=item.PrimaryKey */ });

                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>